@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root{
    --body-color: rgb(214, 226, 241);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    color: #021129;
}

.container{
    width: 100%;
    padding: 50px 0;
}

.card{
    position: relative;
    width: 100%;
    background-color: rgb(230, 243, 255);
    /* background: linear-gradient(135deg,rgb(230, 243, 255),rgb(205, 230, 255)); */
    /* background-color: white; */
    padding: 20px;
    box-shadow: 2px 2px 8px 0px #80adfa;
    margin-bottom: 25px;
}

.card img{
    width: 50%;
    border-radius: 10px;
}

.card-title{
 
}

.author_details{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.author_image{

}

.author_regno{

}

.card-text{

    width: 85%;
}

.description p{

    overflow: hidden;
    width: 100%;
}

.bottom_details{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
