@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root{
    --body-color: rgb(214, 226, 241);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    color: #021129;
}

a{
    text-decoration: none;
    color: #021129;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px;
    background-color: #E5ECF6;
    z-index: 150;
    padding-left: 0;
    /* box-shadow: 2px 2px 8px 0px #80adfa; */
}

.sidebar header{
    position: relative;
}

.menuicon{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    text-align: end;
    font-size: 25px;
    padding: 20px 20px;

}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
}

.sidebar .image-text img{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.name{
    font-size: 20px;
}

.header-text{
    text-align: center;
}

.menu-bar{
    margin-top: 40px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50px;
    left: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;;
    font-size: 22px;
}

.menu-links{
    list-style-type: none;
}

.nav-link{
    padding: 10px 15px 10px 30px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(210, 223, 247);
    border-radius: 10px;
}

.nav-link:hover{
    background-color: rgb(98, 153, 255);
    cursor: pointer;
    box-shadow: 2px 2px 8px 0px #80adfa;
}

.nav-link span{
    margin-left: 20px;
}

.logout{
    margin-top: 80px;
    background-color: rgb(253, 76, 76);
}

.logout:hover{
    background-color: rgb(255, 65, 65);
    box-shadow: 2px 2px 8px 0px #fa8080;
}


/* main-section */
.mainbar{
    width: calc(100% - 300px);
    background-color: rgb(206, 223, 255);
    min-height: 100vh;
    float: right;
}

#navbar{
    position: fixed;
    z-index: 100;
    background-color: #E5ECF6;
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 8px 0px #80adfa;
}

#navbar div{
    display: inline;
}


#logo{
    width: 500px;
    height: auto;
    float: left;
    margin-top: 15px;
    margin-left: 55px;
}

.card-box, .level-1-grid{
    position: relative;
    z-index: 0;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 375px 375px 375px 375px;
    margin-top: 80px;
}

.card-box .card{
    position: relative;
    width: 350px;
    height: 500px;
    /* background-color: rgb(230, 243, 255); */
    background: linear-gradient(135deg,rgb(230, 243, 255),rgb(205, 230, 255));
    /* background-color: white; */
    padding: 20px;
    /* border-radius: 10px; */
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 2px 2px 8px 0px #80adfa;
    margin-bottom: 25px;
}

.card-box .card img{
    width: 100%;
    height: 215px;
    border-radius: 10px;
}

.card-title{
    position: absolute;
    top: 250px;
    left: 35px;
}

.author_details{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 315px;
    left: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.author_image{
    position: absolute;
    left: 0;
}

.author_regno{
    position: absolute;
    left: 40px;
}

.card-text{
    position: absolute;
    top: 350px;
    left: 35px;
    width: 85%;
}

.description p{
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.bottom_details{
    width: 85%;
    position: absolute;
    bottom: 15px;
    left: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.postarticle{
    display: flex;
    margin: auto;
}

.postarticle a{
    position: fixed;
    font-size: 80px;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    margin: 0px 50px 50px 0px;
}

.fa-circle-plus{
    color: rgb(247, 51, 51);
    text-align: end;
    box-shadow: 5px 5px 10px 0 rgb(90, 62, 62);
    border-radius: 50%;
}

.likebuttonbody{
    position: absolute;
    right: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    /* box-shadow: 5px 5px 10px 0 rgb(255, 222, 222); */
}

.fa-thumbs-up{
    color: rgb(247, 51, 51);
    font-size: 20px;
}

/* search for a student */

.findastudent{
    margin-top: 200px;
    min-height: 100vh;
    z-index: 1;
}

.findastudentheading{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 40px;
}

.searchbar{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.searchbaritems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbaritems i{
    font-size: 30px;
    margin-left: 15px;
}

.searchstudentgrid{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.studentlevel{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 8px 0px #80adfa;
}

.studentlevel:hover{
    background-color: rgb(98, 153, 255);
    cursor: pointer;
    box-shadow: 2px 2px 8px 0px #80adfa;
}

.level-text{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
    /* background: linear-gradient(rgb(88, 143, 245),rgb(44, 106, 221),rgb(25, 81, 184)); */
    background-color: #E5ECF6;;
}

.level-text p{
    margin-top: 12px;
    font-size: 30px;
    font-weight: 600;
    
}

.levelimage img{
    width: 300px;
}

.studentdatabase{
    margin-top: 300px;
}

.level1mainbox{
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.level-1-grid{
    position: relative;
    top: 0;
    right: 115px;
    margin: 0;
}

.profilecard{
    margin: 10px 0px;
}

.profilebutton{
    margin-top: 10px;
}

/* addform */
.postarticleform, .feedbackform{
    width: 600px;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 25px 30px;
    box-shadow: 2px 2px 8px 0px #80adfa;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.updatedetails{
    width: 900px;
    border-radius: 10px;
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 25px 30px;
    box-shadow: 2px 2px 8px 0px #80adfa;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.addpostclosebutton{
    position: absolute;
    right: 30px;
    top: 30px;
}

.addpostclosebutton i{
    font-size: 25px;
    text-align: right;
}

.addpostclosebutton i:hover{
    color: rgb(247, 51, 51);
    cursor: pointer;
}

.addposttitle h1{
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

.containerdashboard#blur.active{
    filter: blur(20px);
}

.postbutton{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 40px;
}

.postbutton button{
    padding: 10px 20px;
    border: none;
}

.postbutton button:hover{
    background-color: rgb(60, 187, 77);
    border: none;
}


#postarticleform.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}


#feedbackform.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#updatedetails.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* showprofile */
/* .showprofile{
    width: 100%;
} */

.profilecardwidth{
    width: 350px;
    background: linear-gradient(135deg,rgb(230, 243, 255),rgb(205, 230, 255));
    border: none;
    box-shadow: 2px 2px 8px 0px #80adfa;
}

.profilecardwidth:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px 0px #176cff;
}

