@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    color: #021129;
}

a{
    text-decoration: none;
    color: #021129;
}

h5{
    color: rgb(15, 15, 15);
}

p{
    color: rgb(15, 15, 15);
}

.containerdashboard{
    width: 60%;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 8px 0px #f1f1f1;
    margin-bottom: 50px;
}

.row{
    width: 100%;
}

.card-box{
    position: relative;
    margin-top: 80px;
}

.socialmedia{
    width: 150px;
    padding: 0px;
    font-size: 20px;
    margin: 0;
    display: flex;
}

.socialmedia i{
    padding: 0px 5px;
}

.contactmebutton{
    background-color: rgb(17, 17, 17);
    border: none;
    padding: 0px;
    padding: 5px 10px;
    font-size: 18px;
}

.contactmebutton:hover{
    background-color: rgb(36, 36, 36);
}

.avatarcolumn{
    /* background-color: rgb(210, 230, 255); */
    margin-top: 20px;
    /* border-radius: 9px; */
}


@media (max-width: 1200px) {
    .containerdashboard{
        width: 75%;
    }
}

@media (max-width: 960px) {
    .containerdashboard{
        width: 90%;
    }
}

